nav {
    width: 200%;
    margin-left: 180px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

li {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #009fb7;
    padding: 00px 20px;
    margin: 5px;
}

h4 {
    color: #ffffff;
}

.active {
    border: 2px solid black;
}

.active h4 {
    color: black;
}
